var nativeModule = Process.findModuleByName("{{.ModuleName}}");
if (nativeModule === null) {
    console.log("[-] Module not found: {{.ModuleName}}");
} else {
    var targetAddr = Module.findExportByName("{{.ModuleName}}", "{{.MethodName}}");
    if (targetAddr === null) {
        console.log("[-] Export not found: {{.MethodName}}");
    } else {
        Interceptor.attach(targetAddr, {
            onEnter: function(args) {
                console.log("[+] Native {{.ModuleName}} / {{.MethodName}} called");
                send(JSON.stringify({event: "native_enter", module: "{{.ModuleName}}", method: "{{.MethodName}}"}));
            },
            onLeave: function(retval) {
                send(JSON.stringify({event: "native_leave", module: "{{.ModuleName}}", method: "{{.MethodName}}", retval: retval.toString()}));
            }
        });
    }
}
